body {
    margin: 0;
    font-family: rubik;
    color: white;
  }

  .container {
    display: flex;
  }

  .logoPokemon{
    height: 190px;
  }

  .contenedorNintendo {
    height: 770px;
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  .nintendo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgNintendo{
    width: 1500px;
    height: 700px;
    position: absolute;
    z-index: 1;

  }

  .pantallaNintendo{
    background-color: black;
    width: 1000px;
    height: 590px;
    position: absolute;
    z-index: 2;
    overflow: scroll;
  }
 
  #pokedex { /*Alineamos los pokemons*/
    /* border-color: rgb(43, 42, 42); */
    padding-inline-start: 0;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 120px; */
  }
  
  .card {
    list-style: none;
    padding: 50px;
    margin: 5px;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
    width: 120px;
    height: 120px;
  }

.namePokemon {
  font-size: 20px;
  text-transform: capitalize;
  margin-top: -25px;
}

.grass{
  background-color: rgb(127, 255, 138);
  text-transform: capitalize;
}

.poison{
  background-color: rgb(187, 0, 255);
  text-transform: capitalize;
}

.fire{
  background-color: rgb(255, 94, 0);
  text-transform: capitalize;
}

.flying{
  background-color: rgb(105, 102, 106);
  text-transform: capitalize;
  color:white;
}

.water{
  background-color: rgb(0, 221, 255);
  text-transform: capitalize;
}

.bug{
  background-color: rgb(3, 106, 20);
  text-transform: capitalize;
}

.normal{
  background-color: rgb(177, 177, 177);
  text-transform: capitalize;
}

.electric{
  background-color: rgb(255, 251, 0);
  text-transform: capitalize;
}

.ground{
  background-color: rgb(152, 90, 3);
  text-transform: capitalize;
}

.fairy{
  background-color: rgb(247, 187, 247);
  text-transform: capitalize;
}

.fighting{
  background-color: rgb(188, 146, 94);
  text-transform: capitalize;
}

.psychic{
  background-color: rgb(255, 0, 238);
  text-transform: capitalize;
}

.rock{
  background-color: rgb(195, 160, 7);
  text-transform: capitalize;
}

.steel{
  background-color: rgb(117, 155, 182);
  text-transform: capitalize;
}

.ice{
  background-color: rgb(164, 230, 245);
  text-transform: capitalize;
}

.ghost{
  background-color: rgb(105, 71, 144);
  text-transform: capitalize;
  color:white;
}

.dragon{
  background-color: rgb(255, 0, 111);
  text-transform: capitalize;
}